@import 'styles/vars';

@media (prefers-color-scheme: dark) {
  :root {
    --ctc: #f8f8f2;
    --cbg: #2b2b2b;
    --ccm: #d4d0ab;
    --cpc: #fefefe;
    --cpr: #ffa07a;
    --cvr: #00e0e0;
    --cst: #abe338;
    --cfn: #ffd700;
    --ckw: #00e0e0;
    --cre: #ffd700;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --ctc: #545454;
    --cbg: #fefefe;
    --ccm: #696969;
    --cpc: #545454;
    --cpr: #007299;
    --cvr: #008000;
    --cst: #aa5d00;
    --cfn: #aa5d00;
    --ckw: #d91e18;
    --cre: #d91e18;
  }
}

/**
 * Based on https://github.com/ericwbailey/a11y-syntax-highlighting
 */

code, pre {
  color: var(--ctc);
  background: none;
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  transition: all $transitionDuration;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code, pre {
  background: var(--cbg);
}

/* Inline code */
:not(pre) > code {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--ccm);
}

.token.punctuation {
  color: var(--cpc);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--cpr);
}

.token.boolean,
.token.number {
  color: var(--cvr);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--cst);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--cvr);
}

.token.atrule,
.token.attr-value,
.token.function {
  color: var(--cfn);
}

.token.keyword {
  color: var(--cvr);
}

.token.regex,
.token.important {
  color: var(--cre);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
