@import '_reset.scss';

:root {
  --bg: #fff;
  --fg: #000;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

h2 {
  font-family: "Nunito", sans-serif;
}

header {
  display: inline-flex;
  border-bottom: 1px solid var(--fg);
  width: 100%;
  padding: 0 1em 0 1em;
}

footer {
  display: inline-flex;
  border-top: 1px solid var(--fg);
  width: 100%;
  padding: 0 1em 1em 1em;
}

@media screen and (max-width: 400px) {
  header {
    display: block;
  }

  .themeSelect > * {
    display: block;
  }
}

main {
  padding: 0 1em 0 1em;
}

footer > * {
  margin-top: 16px;
}

.nav {
  padding: 0;
  margin-left: auto;
  justify-content: end;
}

.nav-item {
  display: inline-block;
}

.nav-item + .nav-item {
  margin-left: 1em;
}

.nav-item-active {
  font-weight: bold;
}

.source {
  margin-left: auto;
  justify-content: end;
}

a:visited, a {
  color: var(--fg);
}

#newContent {
  display: none;
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background: var(--fg);
  color: var(--bg);
  text-align: center;
}
