@import '_reset.scss';

$dividerHeight: 4px;
$standardPadding: 0 1em;
$transitionDuration: .25s;
$contentWidth: 1024px;

@media (prefers-color-scheme: light) {
  :root {
    --bg: #fafafa;
    --fg: #000;
    --fgo: #0002;
    --dv: #7d98a1;
    --lc: var(--middarkblue);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #282828;
    --fg: #fafafa;
    --fgo: #fff2;
    --dv: #d7dee2;
    --lc: var(--blue);
  }
}

:root {
  //primary colors, thanks https://github.com/vukkashin!
  --darkblue: #002890;
  --middarkblue: #1d61c0; //average of blue and darkblue
  --blue: #3a99f0;
  --green: #0cc355;
  --gray: #d7dee2;

  scrollbar-color: var(--fgo) var(--bg); //this is only a thing in firefox at the moment but it looks nice
  transition: scrollbar-color $transitionDuration;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  transition: all $transitionDuration;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

.preload, .preload * {
  transition: none !important;
}

h1, h2 {
  font-family: "Nunito", sans-serif;
}

header {
  display: inline-flex;
  justify-content: center;
  box-shadow: inset 0 (-$dividerHeight) var(--dv);
  width: 100%;
}

footer {
  display: inline-flex;
  justify-content: center;
  box-shadow: inset 0 $dividerHeight var(--dv);
  width: 100%;
  padding: $standardPadding 1em 1em; //bottom padding in case of scrolling
}

@media screen and (max-width: 480px) {
  header {
    display: block;
    padding: 0;
  }

  nav ul {
    width: 100%;
    justify-content: space-evenly;
  }

  ul .nav-item {
    width: 25%;
  }
}

@media screen and (max-width: 400px) {
  .themeSelect > * {
    display: block;
    height: auto;
  }
}

main {
  padding: $standardPadding;
  margin: 0 auto;
  max-width: $contentWidth;
}

.footerContent {
  display: inherit;
  margin-top: 1em;
  width: $contentWidth;
}

nav ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
  line-height: 56px;
}

.nav-item {
  list-style: none;
  width: 120px;
  text-align: center;
  border-bottom: $dividerHeight solid;
}

.nav-item-active {
  font-weight: bold;
}

.nav-item:nth-of-type(1) {
  border-bottom-color: var(--darkblue);
}

.nav-item:nth-of-type(2) {
  border-bottom-color: var(--middarkblue);
}

.nav-item:nth-of-type(3) {
  border-bottom-color: var(--blue);
}

.nav-item:nth-of-type(4) {
  border-bottom-color: var(--green);
}

.nav-item a {
  text-decoration: none;
  display: block;
  transition: all $transitionDuration;
}

.nav-item a:hover {
  background-color: var(--fgo);
}

.source {
  margin-left: auto;
}

.nav-item a, .nav-item a:visited {
  color: var(--fg);
}

a, a:visited {
  color: var(--lc);
}

#newContent {
  display: none;
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--fg);
  color: var(--bg);
  text-align: center;
}

#newContent p {
  padding: $standardPadding;
}

ul {
  padding-left: 20px;
}

.requiresJS {
  display: none;
}

input[type=radio] {
  appearance: none;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 4px;
  border: 2px solid var(--fg);
  border-radius: 100%;
  height: 16px;
  width: 16px;
  transition: border .15s;
}

input[type=radio]:checked {
  border: 5px solid var(--fg);
}
