<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="manifest" href="/manifest.json">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <meta name="author" content="Alex Dueppen">
  <meta name="theme-color" content="{{ siteData.themeColor }}">
  <title>Alex Dueppen: {{ renderData.title or title or metadata.title }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body class="preload" itemscope itemtype="http://schema.org/WebPage">
  <header>
    <p>Alex Dueppen</p>
    <nav>
      <ul>
        {% for nav in collections.toplevel -%}
        <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
          <a href="{{ nav.url | url }}">{{ nav.data.title }}</a>
        </li>
        {%- endfor -%}
      </ul>
    </nav>
  </header>
  <main>{{ content | safe }}</main>
  <footer>
    <div class="themeSelect requiresJS" aria-label="Theme selection">
      <label>
        <input type="radio" name="theme" value="light" onclick="utils.setTheme('light')">
        Light
      </label>
      <label>
        <input type="radio" name="theme" value="dark" onclick="utils.setTheme('dark')">
        Dark
      </label>
      <label>
        <input type="radio" name="theme" value="black" onclick="utils.setTheme('black')">
        Black
      </label>
    </div>
    <div class="source">
      <a href="{{ siteData.repoLink }}" target="_blank" rel="noopener">Website Source Code</a>
    </div>
  </footer>
  <div id="newContent" onclick="window.location.reload();">
    <p>This site has been updated. Click here or reload the page to update.</p>
  </div>
  <script src="/scripts/index.js"></script>
</body>
</html>
