<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="manifest" href="manifest.json">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <meta name="author" content="Alex Dueppen">
  <meta name="theme-color" content="{{ siteData.themeColor }}">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body id="top" itemscope itemtype="http://schema.org/WebPage">
  <header>
    <p>Alex Dueppen</p>
    <ul class="nav">
      {%- for nav in collections.toplevel -%}
      <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
      {%- endfor -%}
    </ul>
  </header>
  {{ content | safe }}
  <footer>
    <input type="button" onclick="utils.swapColor()" value="swap theme">
  </footer>
  <script src="scripts/index.js"></script>
</body>
</html>
