---
layout: layouts/base.njk
description: Hello, I'm a human on the internet who occasionally does cool projects.

eleventyNavigation:
  key: About
  order: 2
---
<h2>Who am I?</h2>
<p>
  I've been passionate about computers ever since I was young, playing around on my mom's old Macintosh Centris.
  Since then, this passion has shaped much of my life. I took every single computer science class available at my high
  school, and I've met many of my closest friends on the Internet as a fellow computer-obsessed human. I absolutely love
  to learn more things about the world of technology, and I'm incredibly eager to find my place in it.
</p>
<h2>Links</h2>
<p>
  Here are some relevant links, including me on other platforms.
  In general, any account with the username <b>adueppen</b> is probably me.
</p>
<ul>
  {% for link in siteData.links -%}
    <li>{{ link.siteName }}: <a href="{{ link.url }}" target="_blank" rel="noopener">{{ link.displayText }}</a></li>
  {% endfor -%}
  <li><a href="/resume.pdf" target="_blank">Resume</a></li>
</ul>
