---
layout: layouts/base.njk
description: Hello, I'm a human on the internet who occasionally does cool projects.
title: Alex Dueppen
navtitle: About
tags: toplevel
date: 0000-01-03 #hacky way to sort properly
---
<p>This is an about page. Soon enough this page will have some information about who I am.</p>
