---
layout: layouts/base.njk
description: Hello, I'm a human on the internet who occasionally does cool projects.
title: Alex Dueppen
---
<p>Hi. For links to me in other places, please go to <a href="{{ siteData.oldSite }}">my old website</a>,
  this one is still very much in development.</p>
<input type="button" onclick="utils.swapColor()" value="swap theme">
