---
layout: layouts/base.njk
description: Hello, I'm a human on the internet who occasionally does cool projects.
title: Alex Dueppen
navtitle: Home
tags: toplevel
date: 0000-01-01 #hacky way to sort properly
---
<p>Hi. I'm Alex, and I enjoy doing cool things with computers.</p>
<p>Please see the pages above for more information. <sup>(I'll have more on this page soon!)</sup></p>
