---
layout: layouts/base.njk
description: Alex Dueppen's super WIP personal website
title: Alex Dueppen
---
<p>Hi. For now just go to <a href="{{ siteData.oldSite }}">my old website</a>, this one won't be much for a while.</p>
<input type="button" onclick="utils.swapColor()" value="why">
