---
layout: layouts/base.njk
description: Hello, I'm a human on the internet who occasionally does cool projects.
title: Alex Dueppen
navtitle: Projects
tags: toplevel
date: 0000-01-02 #hacky way to sort properly
---
<p>This is a page for my current projects. Soon enough it will have some information on them.</p>
